body {
    background-color: #222222;
    user-select: none;
}

#previewspace {
    width: calc(100vw - 357px);
    height: calc(100vh - 69px);
    box-sizing: border-box;
    padding: 15px;
    position: fixed;
    left: 0;
    top: 0;
}

svg {
    width: 0;
    height: 0;
}

#controlpanel {
    position: fixed;
    right: 0;
    top: 0;
    width: 357px;
    height: 100vh;
    background-color: #333333;
    padding: 10px;
    box-sizing: border-box;
    border: 15px solid #222222;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #AFAFAF;
    overflow-y: auto;
}

#controlpanel td {
    text-align: center;
}

#controlpanel i {
    color: #CDCDCD;
    font-size: 20px;
}

#controlpanel hr {
    opacity: 0.1;
}

#bottompanel {
    width: calc(100vw - 357px);
    height: 69px;
    box-sizing: border-box;
    padding: 15px;
    position: fixed;
    left: 0;
    bottom: 0;
    text-align: center;
}

input[type=number], select, input[type=color], button {
    box-sizing: border-box;
    padding: 3px;
    outline: none!important;
    border: 1px solid grey;
    background-color: #222222;
    color: grey;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

input[type=number]:hover, select:hover, input[type=color]:hover, button:hover {
    border: 1px solid #A1A1A1;
    color: #A1A1A1;
}

input[type=number]:focus, select:focus, input[type=color]:focus, button:focus {
    border: 1px solid white;
    color: white;
}

#welcomescreen {
    top: 0;
    left: 0;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: #222222;
    z-index: 69;
}

input[type=file] {
    display: none;
}

input[type=color] {
    padding: 0 2px;
    width: 27px;
    height: 27px;
}

@media only screen and (max-width: 555px) {
    #previewspace {
        width: 100vw;
        height: 100vw;
    }
    #controlpanel {
        top: 100vw;
        width: 100vw;
        height: calc(100vh - 100vw - 69px);
    }
    #bottompanel {
        width: 100vw;
    }
}

::-webkit-scrollbar {
    width: 6.9px;
}

::-webkit-scrollbar-track {
    opacity: 0;
}

::-webkit-scrollbar-thumb {
    background: #00000030;
}

::-webkit-scrollbar-thumb:hover {
    background: #00000020;
}

::selection {
    background-color: white;
    color: black;
}

canvas {
    max-width: 100%;
    max-height: 100%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}